# Copy this file to .env (do not commit .env)
SECRET_KEY=changeme_replacethis_in_production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (Postgres for production)
DATABASE_URL=sqlite:///db.sqlite3

# For PostgreSQL example:
# DATABASE_URL=postgres://dbuser:dbpassword@dbhost:5432/dbname

# Production example
# SECRET_KEY=replace-this-with-secure-random-key
# DEBUG=False
# ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
# DATABASE_URL=postgres://postgres:postgres@db:5432/student_portal
SECURE_HSTS_SECONDS=31536000
SECURE_SSL_REDIRECT=True
ATTENDANCE_EDIT_DAYS=1
